.container {
    display: grid;
    grid-template-columns: 72px 1fr;
    gap: 4px;
    margin-bottom: 8px;
}

.position {
    height: 96px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--white);
    border-radius: 5px 0 0 5px;

    color: var(--text);
    font-size: 1.5rem;
    font-weight: 500;
}

.contentInfo {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;

    height: 96px;

    background: var(--white);
    border-radius: 0 5px 5px 0;
}

.boxStart {
    display: flex;
    flex-direction: row;
}

.boxEnd {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* USUÁRIO */
.imageProfile {
    border-radius: 50%;
    padding: 16px;
    height: 96px;
}

.firstDivName {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;
}

.firstDivName span{
    color: var(--title);
    font-size: 1.25rem;
    font-weight: 600;
}

.firstDivName p {
    color: var(--text);
    font-size: 1rem;
    font-weight: 400;
}

.imageLevel {
    margin: 8px 8px 0 0;
}


/* DESAFIOS / EXPERIÊNCIA */
.infoText {
    display: flex;
    flex-direction: row;

    align-items: center;

    font-size: 1rem;
    font-weight: 500;
    color: var(--text);
    
    margin-right: 3.56rem;
}
.infoText span{
    margin-right: 6px;
    color: var(--blue);
}

